<a href="https://colab.research.google.com/github/wathsala-vishwajith/ML-Playground/blob/main/Assignment_1_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
#for splitting data into train and test set
from sklearn.model_selection import train_test_split

from sklearn.datasets import load_iris

#linear regression model
from sklearn.linear_model import LogisticRegression

import pandas as pd

import numpy as np
import time

In [21]:
!wget "http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data" -P "/content/drive/My Drive/app"
iris = pd.read_csv("/content/drive/My Drive/app/iris.data",names=["sepal length","sepal width","petal length","petal width","class"])
iris.describe()

--2022-07-17 17:38:47--  http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4551 (4.4K) [application/x-httpd-php]
Saving to: ‘/content/drive/My Drive/app/iris.data.4’

iris.data.4         100%[===================>]   4.44K  --.-KB/s    in 0s

2022-07-17 17:38:48 (339 MB/s) - ‘/content/drive/My Drive/app/iris.data.4’ saved [4551/4551]

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [34]:
x = iris.drop(["class"],axis=1).values

In [23]:
y = iris["class"].values

In [24]:
#splitting test and train data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [32]:
def print_accuracy(f):
    print("Accuracy = {0}%".format(100*np.sum(f(x_test) == y_test)/len(y_test)))
    time.sleep(0.5) # to let the print get out before any progress bars

In [33]:
linear = LogisticRegression()
linear.fit(x_train,y_train)
print_accuracy(linear.predict)

Accuracy = 100.0%